# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
.venv/

# Terraform
infra/terraform/.terraform/
infra/terraform/*.tfstate
infra/terraform/*.tfstate.backup
infra/terraform/terraform.tfvars

# Environment
.env

# IDE
.idea/
.vscode/
*.swp

# dbt
dbt_project/target/
dbt_project/dbt_packages/
dbt_project/logs/

# OS
.DS_Store
